<div class="flashcard">
    <div class="flashcard-child flashcard-top">
        <div class="flashcard-flip"></div>
    </div>
    <div class="flashcard-child flashcard-middle">
        <div class="flashcard-arrow-btn flashcard-back"><i class="arrow left"></i></div>
        <div class="flashcard-text">
            <p></p>
        </div>
        <div class="flashcard-arrow-btn flashcard-forward"><i class="arrow right"></i></div>
    </div>
    <div class="flashcard-child flashcard-bottom">
        <div class="flashcard-count">
            <p></p>
        </div>
    </div>
</div>