{% extends 'base.html' %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static',filename='css/register.css') }}?u={{ last_updated }}" />
{% endblock %} {% block body %}
<script>
</script>
<div class="register-container">
    <div class="register-box">
        <form action="{{ url_for('register') }}" method="post">
            <p class="error-text">{{error_msg}}</p>
            <p>Email:</p>
            <input type="email" name="email" required />

            <p>Password:</p>
            <input type="password" name="password" required />

            <p>Repeat password:</p>
            <input type="password" name="confirm_password" required />

            <div>
                <button type="submit" class="button-1">Register</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}